@charset 'UTF-8';
@use 'bar' as *;
@use 'mixin' as *;

#wrap{ width: 100%; max-width: 72rem; margin: 0 auto;}
.container{ padding: 0 1.6rem}

.sec-title{ @include d-flex; @include align-center; @include justify-between;
	span:not(.date){ padding: 0.8rem 1.6rem; border-radius: 999px; background-color: #f19d67; color: $color-realwhite;}
}

.visual{ width: 100%;
	img{ display: block; width: 100%; max-width: fit-content;}
}

.worship-list{
	li{ position: relative; @include d-flex; @include align-center; @include justify-between; padding: 1.2rem 0.4rem;
		+ li{ border-top: 1px solid $color-gray-200;}
	}
	.tit{ position: relative; display: inline-block; @include text-style(depth1,500,1.6);}
	.name{ margin-left: auto; @include caption-style(depth1,400,1.6); color: $color-gray-800; text-align: right;}
	.subject{ @include text-style(depth1,500,1.6);}
	div{ width: 60%; position: absolute; right: 0; top: 50%; transform: translateY(-50%); @include d-flex; @include align-center; @include justify-end; @include flex-wrap;}
}

.notice-list{
	li{ @include text-style(depth1,400,1.6);}
}